html {
  height: 100%;
  width: 100%;
  font-size: 20px;
  background-color: lightgrey;
}

.navbar {
  overflow: hidden;
  background-color: royalblue;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  max-height: 80px;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #375abe;
  color: black;
}

.float-container {
  background-color: lightgrey;
  border: 3px solid #fff;
  padding: 0px;
}

.float-child {
  background-color: lightgray;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

table.table1 {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: white;
}

table.table1 a {
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
}

talbe.table1 td, table.table1 th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

table.table2 {
  border: 1px solid lightgrey;
  background-color: lightgrey;
  min-width: 180px;
}

table.table2 td, table.table2 th {
  background-color: royalblue;
  border: 1px solid lightgrey;
  border-radius: 10px;
}

table.table2 td, table.table2 th a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
}

table.table2 td, table.table2 th a:hover {
  background: #375abe;
  color: black;
}

/*<input type="text" id="dsc" name="dsc" style="font-size: 18pt; height: 200px; width: 90%;"><br>*/